/*Size & Positioning*/
.platform-start {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
}
.platform-win {
  width: 90px;
  height: 90px;
  left: 1305px;
  top: 5px !important;
  position: absolute;
}
#one{
  width: 1300px;
  height: 100px;
  position: absolute;
  left: 100px;
}
/*Animations*/



/*Colors and Fonts*/
.platform-start {
	background-color: rgba(255,255,0,1);
}
#one {
  background-color: rgba(255,0,0,0.5);
}
