/*Size & Positioning*/
.platform-start {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 1;
}
#one{
  width: 1400px;
  height: 100px;
  position: absolute;
  top: 350px;
  animation: spin 12s linear infinite;
}
/*Animations*/
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/*Colors and Fonts*/
.platform-start {
	background-color: rgba(255,255,0,1);
}
#one {
  background-color: rgba(255,0,0,0.5);
}