/*Size & Positioning*/
.platform-start {
  width: 100px;
  height: 100px;
  position: absolute;
}
#one{
  width: 800px;
  height: 100px;
  position: absolute;
  top: 250px;
  left: -50px;
  animation: spin 12s linear infinite;
  overflow: hidden;
}
#two{
  width: 800px;
  height: 100px;
  position: absolute;
  top: 350px;
  left: 700px;
  animation: spin 12s linear infinite;
  overflow: hidden;
}
/*Animations*/
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/*Colors and Fonts*/
.platform-start {
	background-color: rgba(255,255,0,1);
}
#one {
  background-color: rgba(255,0,0,0.5);
}
#two {
  background-color: rgba(255,0,0,0.5);
}