/*Size & Positioning*/
.platform-container {
  width: 1400px;
  height: 700px;
  position: relative;
  margin: 10px auto;
}

.platform-win {
  width: 90px;
  height: 90px;
  left: 1305px;
  top: 605px;
  position: absolute;
  z-index: 1;
}
p {
	text-align: center;
}
h1 {
	text-align: center;
}
/*Animations*/



/*Colors and Fonts*/
.platform-container {
  background-color: grey;
}
.platform-start {
	background-image: url("../images/ps.png");
	background-size: cover;
}
.platform-win {
  background-image: url("../images/ga.png");
  background-size: cover;
}
a {
	text-decoration: none !important;
}
p {
	color: white;
}
h1 {
	color: white;
	font-size: 72px;
}