/* Size & Positioning */
h1 {
  text-align: center;
}
.grid-container {
  margin: 0 auto;
  width: 230px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
}

.grid-header, .grid-item {
  display: flex;
  justify-content: center;
  align-content: center;
}

#header {
  justify-content: flex-end;
  grid-column-start: 1;
  grid-column-end: 5;
}
#equal {
  grid-column-start: 3;
  grid-column-end: 5;
}
button {
  padding: 0;
  width: 100%;
}
#result {
  height: 20px;
}
/* Cosmetics Below */
body {
  background-image: url("https://i.giphy.com/media/WoD6JZnwap6s8/giphy.webp");
}
h1 {
  font-family: 'Rozha One', serif;
  font-size: 50px;
  color: white;
}
button {
  border-radius: 10px;
  background: lightgreen;
  font-family: 'Rozha One', serif;
  font-size: 20px;
}
#header {
  background: lightgreen;
  font-family: 'Rozha One', serif;
  font-size: 20px;
}
.grid-container {
  background-color: lightblue;
  border: 1px solid #bbb;
  padding: 10px;
  border-radius: 10px
}
.grid-item, .grid-header{
  background-color: lightgrey;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.num:active {
  background-color: red;
}
