* {
  padding: 0;
  text-align: center;
}
h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Arial Black';
  background: -webkit-linear-gradient(rgb(27, 192, 224), rgb(26, 80, 154), rgb(27, 192, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 {
  font-size: 140px;
  margin: 0 auto;
}
body {
  background-image: url('https://apod.nasa.gov/apod/image/0707/m83_gendler_big.jpg');
  background-size: cover;
}
.banner p {
  padding: 10px 0 10px 0;
  margin 0;
  animation: scroll 15s ease-in-out infinite;
}
#click {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
}
  margin-bottom: 30px;
}
ul li{
  display: inline;
  list-style: none;
  padding: 10px;
  font-size: 30px;
}
a {
  text-decoration: none;
}

@keyframes scroll {
  0% {transform: translateX(-200px);}
  50% {transform: translatex(200px);}
  100% {transform: translatex(-200px);}
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes spin {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
